<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="plainLogger"
                     fileName="resources_downloader.log"
                     filePattern="resources_downloader_%d{yyyy-MM-dd}_%i.log.zip"
                     append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] %msg%n</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="plainLogger"/>
        </Root>
    </Loggers>
</Configuration>